<head>
	<title>How To</title>
	<base href="/">
	<meta charset="UTF-8">
	<link rel="how-to.component" href="styles.css">
</head>


<body>

	<!--
		All of the following conetnt is form here:
		https://www.wikihow.com/Brush-Your-Teeth
	-->

	<h1>How to Brush Your Teeth</h1>

	<h2>The Right Tools</h2>

	<h3>1</h3>
	<h4>Using the Right Tools</h4>
	<p>
		content
	</p>

	<h3>2</h3>
	<h4>Replace your toothbrush regularly</h4>
	<p>
		content
	</p>

	<h3>3</h3>
	<h4>Use flouride toothpaste</h4>
	<p>
		content
	</p>
	
	<h2>Matering the Technique</h2>

	<h3>1</h3>
	<h4>Use just a bit of toothpaste</h4> 
	<p>content</p>

	<h3>2</h3>
	<h4>Set your bristles at the gum line at 45-degere angle</h4>
	<p></p>

	<h3>3</h3>
	<h4>Spend the right amount of time</h4>
	<p></p>

	<h3>4</h3>
	<h4>Make sure to get it back there</h4>
	<p></p>

	<h3>5</h3>
	<h4>Make sure to get everywhere</h4>
	<p></p>

	<h3>6</h3>
	<h4>Get your tongue too</h4>
	<p></p>

	<h2>Wraping up</h2>
	<h3>1</h3>
	<h4>Rinse your mouth</h4>
	<p></p>

	<h3>2</h3>
	<h4>Rinse your toothbrush</h4>
	<p></p>

</body>
