<head>
	<title>How To</title>
	<base href="/">
	<meta charset="UTF-8">
	<link rel="how-to.component" href="styles.css">
</head>


<body>

	<!--
		All of the following conetnt is from here:
		https://www.wikihow.com/Brush-Your-Teeth
	-->
	<div class ="content">
		<h1>How to Brush Your Teeth</h1>

		<h2>The Right Tools</h2>

		<h3>1</h3>
		<h4>Using the Right Tools</h4>
		<p>
			Select a toothbursh that has soft nylon bristiles.  Nylon bristles are won't hide bactieria or there germs as much as natural bristles will.  Also
			make sure that that your toothbrush can actually fit into your mouth, it's awful difficult to brush your teeth if your brush won't fit into your mouth.
			  Electirc toothbrushes are nice if you're a lazy brusher.
		</p>
		<img src="https://image.shutterstock.com/z/stock-vector-blue-plastic-toothbrush-the-top-view-sideways-and-in-the-long-term-on-a-white-background-553955428.jpg" alt="Toothbrushes">
		<br>

		<h3>2</h3>
		<h4>Replace your Toothbrush Regularly</h4>
		<p>
			The bristiles on your toothbrush will wear out and you'll need to repalce your brush.  It's time to get a new one when the bristiles on your brush are 
			no longer straight, and start to lose their shape.  There are also some toothbrushes that's handles will change color when it's time to change brushes.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-used-old-tooth-brush-and-new-tooth-brush-on-a-white-background-474398128.jpg" alt="Old toothbrushes">
		<br>

		<h3>3</h3>
		<h4>Use Flouride Toothpaste</h4>
		<p>
			Not only will it help remove plaque, but it'll also help strengthen tooth enamel.  Flouride tooth paste shouldn't be swallowed, but also shouldn't be 
			used for kids under three.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-three-toothpaste-containers-on-white-isolated-background-d-illustration-551462491.jpg" alt="Toothpaste">
		<br>
		
		<h2>Matering the Technique</h2>

		<h3>1</h3>
		<h4>Use Just a Bit of Toothpaste</h4> 
		<p>
			Squeeze only a pea-sized amount of toothpaste onto your toothbrush. Applying too much toothpaste can cause over-sudsing, tempting you to spit and finish 
			too early. Plus, it increases the risk of you ingesting more fluoride-filled toothpaste, which is very unhealthy.
		</p>
		<img src="https://image.shutterstock.com/image-photo/toothbrush-toothpaste-on-white-background-260nw-258014735.jpg" alt="Toothpaste on toothbrush">
		<br>

		<h3>2</h3>
		<h4>Set Your Bristles at the Gum Line at 45-degere angle</h4>
		<p>
			Gently brush with a short, circular motion. Don't brush across your teeth.  Ask your dentist or hygienist to present you the correct brushing technique.
		</p>
		<img src="https://image.shutterstock.com/image-photo/mirroring-toothbrushing-600w-530339332.jpg" alt="Brushing">
		<br>

		<h3>3</h3>
		<h4>Spend the Right Amount of Time</h4>
		<p>
			Spend two to three minutes brushing. Brush just a few teeth at a time, and work your way around your mouth in a circle so that you get every tooth (spend 
			about 12 to 15 seconds in each spot). If it helps, you can divide your mouth into quadrants: top left, top right, bottom left, and bottom right. If you 
			spend 30 seconds on each quadrant, you'll get a full two minutes of brushing time in.
		</p>
		<img src="https://image.shutterstock.com/image-vector/clock-toothbrush-character-cartoon-style-600w-791212957.jpg" alt="Brushing time">
		<br>

		<h3>4</h3>
		<h4>Make Sure to get it Back There</h4>
		<p>
			 Position the toothbrush so that it's perpendicular to your lips, or so that the bristles are resting on top of your bottom molars. Work the toothbrush 
			 in an in-and-out motion, and move from the back of your mouth to the front. Then complete this motion doing a rotational movement of the brush in order 
			 to eliminate bacteria that have been dislocated from the surface. Repeat on the other side of your mouth. When the bottom teeth are clean, flip the 
			 toothbrush over and work on the top molars.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-morning-teeth-brushing-528465388.jpg" alt="Getting back there">
		<br>

		<h3>5</h3>
		<h4>Make sure to get everywhere</h4>
		<p>
			Brush the inner surfaces of your teeth. Tip the toothbrush so that the head of the toothbrush is pointing towards your gum line, and brush each tooth. 
			Dentists report that the most commonly skipped area is the inside of the lower front teeth, so be sure not to forget those! Check that your mouth is
			 opening wide enough by holding teeth apart with two or three fingers of your other hand. This will allow correct vertical angle to reach edge of gum.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-attractive-asian-woman-brushing-teeth-on-white-background-120873289.jpg" alt="Behind the teeth">
		<br>

		<h3>6</h3>
		<h4>Get your tongue too</h4>
		<p>
			Brush your tongue gently. After you've cleaned your teeth, use the bristles of your toothbrush to gently clean your tongue. (Don't press too hard, or you'll 
			damage the tissue.) This helps keep bad breath away and gets rid of bacteria on your tongue.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-portrait-of-a-young-dark-skinned-woman-brushing-her-tongue-with-a-toothbrush-on-a-white-background-1136005871.jpg" alt="Getting your tounge">
		<br>

		<h2>Wraping up</h2>
		<h3>1</h3>
		<h4>Rinse your mouth</h4>
		<p>
			Rinse out your mouth. If you choose to rinse after brushing, take a sip of water from a disposable cup, or cup your hands under the faucet. Swish it around 
			your mouth, and spit it out.
		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-asian-woman-rinsing-and-gargling-while-using-mouthwash-from-a-glass-against-the-gray-background-1116015626.jpg" alt="Rinse Mouth">
		<br>

		<h3>2</h3>
		<h4>Rinse your toothbrush</h4>
		<p>
			Hold your toothbrush under running water for a few seconds to remove any bacteria from the brush. If you don't rinse the toothbrush properly, you can actually
			 introduce old bacteria into your mouth the next time you use it. Rinsing also removes any leftover toothpaste. Place your toothbrush somewhere where it will 
			 readily dry out. Otherwise, bacteria can grow.

		</p>
		<img src="https://image.shutterstock.com/z/stock-photo-hand-washing-toothbrush-under-running-water-396769756.jpg" alt="Rinse Toothbrush">
		<br>

	</div>
</body>
