/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}


h4 {
	text-indent: 25px;
}
h3, h4 {
	display:inline-block;
}
/* all the headings that are currently used */
h1, h2, h3, h4{
	color: #673ab7;
}


h1, h2 {
	text-align: center;	
}
p {
	text-indent: 50px;
}